<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
<h3>Howdy,</h3>
<p>Login to get started...</p>

<button mat-flat-button color="primary" (click)="auth.googleLogin()">Sign in with Google</button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user | async as user">
  <p>UID: {{ user.uid }}</p>
  <button (click)="auth.signOut()">Logout</button>
  <a [routerLink]="['/home/city']">Weather</a>
</div>
</ng-template>