<mat-card class="main-card">
  <div class="left-column">
    <div class="city-name">{{curWeather.cityAndCountry}}</div>
    <div class="conditions">{{curWeather.condDescr}}</div>
    <div class="humidity">Humidity {{curWeather.humidity}} | Pressure {{curWeather.pressure}} hpa | Wind Speed {{curWeather.windSpeed}} m/s</div>
  </div>
  <div class="main-icon">
    <app-weather-icon [descr]="curWeather.condDescr"></app-weather-icon>
  </div>
  <div class="right-column">
    <div class="date-0">{{curWeather.date | date:'EEE, MMM d' }}</div>
    <div class="temperature">{{curWeather.temp | number:'1.0-0'}}&deg;C</div>
  </div>
</mat-card>