a {
    text-decoration: none;
    color: black;
}

.main-wrap {
    width: 800px;
    margin: 0 auto;

    .header-wrap {

        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        h1 {
            flex-basis: 50%;
        }

        app-city-input {
            flex-basis: 45%;
            align-self: flex-end;
        }
    }
}
