.main-wrap {
    width: 800px;
    margin: 0 auto;

    .header-wrap {

        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        h1 {
            flex-basis: 50%;
        }

        app-city-input {
            flex-basis: 45%;
            align-self: flex-end;
        }
    }

    .main-card {
        display: flex;
        justify-content: space-between;

        .left-column {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .city-name {
                font-size: 3rem;
                padding-bottom: 1rem;
            }
            
            .conditions {
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }

            .humidity {
                font-size: 0.6rem;
            }
        }
        
        .main-icon {
            flex-basis: 20%;
            margin: 1rem 0;

            div {
                width: 125px;
                height: 126px;
                margin: 0 auto;
            }
            
        }
        
        .right-column {
            flex-basis: 30%;
            text-align: end;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .date-0 {
                font-size: 2rem;
                padding-bottom: .5rem;
            }

            .temperature {
                font-size: 4rem;
            }

        }
    }

    .forecast-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .forecast-card {
            flex-basis: 14.5%;
            text-align: center;

            .day {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            .icon {
                width: 80px;
                height: 80px;
                margin: 0 auto;
            }

            .temperature {
                font-size: 2.8rem;
                margin-top: 1rem;
            }

        }
    }



    .weather-icon {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .rain {
        background-image: url('/assets/icons/11.png');
    }
    
    .shower.rain, .drizzle {
        background-image: url('/assets/icons/34.png');
    }
    
    .heavy.rain, .extreme.rain, .ragged.rain {
        background-image: url('/assets/icons/39.png');
    }

    .thunderstorm {
        background-image: url('/assets/icons/25.png');
    }

    .thunderstorm.rain, .thunderstorm.drizzle {
        background-image: url('/assets/icons/16.png');
    }

    .snow, .freezing.rain, .sleet {
        background-image: url('/assets/icons/36.png');
    }
    
    .mist, .smoke, .haze, .sand, .dust.whirls, .fog, .dust, .volcanic.ash {
        background-image: url('/assets/icons/30.png');
    }
    
    .squall {
        background-image: url('/assets/icons/31.png');
    }
    
    .tornado {
        background-image: url('/assets/icons/21.png');
    }
    
    .clear.sky {
        background-image: url('/assets/icons/33.png');
    }
    
    .clouds {
        background-image: url('/assets/icons/32.png');
    }
    
    .clouds.overcast {
        background-image: url('/assets/icons/37.png');
    }
}
