<div class="main-wrap">
  <div class="header-wrap">
    <h1>Another Weather App</h1>
    <app-city-input (citySelected)="getWeatherByCityName($event)"></app-city-input>
  </div>

  <div *ngIf="curWeather">
    <mat-card class="main-card">
      <div class="left-column">
        <div class="city-name">{{curWeather.cityAndCountry}}</div>
        <div class="conditions">{{curWeather.condDescr}}</div>
        <div class="humidity">Humidity {{curWeather.humidity}} | Pressure {{curWeather.pressure}} hpa | Wind Speed {{curWeather.windSpeed}} m/s</div>
      </div>
      <div class="main-icon">
        <div [ngClass]="['weather-icon', curWeather.condDescr]"></div>
      </div>
      <div class="right-column">
        <div class="date-0">{{curWeather.date | date:'EEE, MMM d' }}</div>
        <div class="temperature">{{curWeather.temp | number:'1.0-0'}}&deg;C</div>
      </div>
    </mat-card>

    <div class="forecast-wrap" *ngIf="forecast">
      <ng-container *ngFor="let fore of forecast">
        <mat-card class="forecast-card" *ngIf="!(fore.date % 86400000 - 43200000)">
          <div class="day">{{fore.date | date :'EEE H:mm'}}</div>
          <div class="icon">
            <div [ngClass]="['weather-icon', fore.condDescr]"></div>
          </div>
          <div class="temperature">{{fore.temp | number: '1.0-0'}}&deg;C</div>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
